
body {
    font-family: 'Roboto', sans-serif;
    background-color: #3c89c9;
}

.navbar {
    background-color: #6c8ae4;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
}
.dg
{
    background: linear-gradient(white, blue) fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.dgs
{
    background: linear-gradient(rgb(117, 117, 255), white) fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-primary {
    background-color: #97D0F2;
    border: none;
}

.hero-section {
    background-color: #97D0F2;
    padding: 50px 0;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1rem;
}

.hero-section img {
    max-width: 100%;
    border-radius: 10px;
}

.courses-section {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

.courses-section .btn {
    margin: 5px;
}

.pricing-section {
    background-color: #a3bdf0;
    padding: 50px 0;
}

.pricing-card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.pricing-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.pricing-card p {
    font-size: 1rem;
}

.footer {
    background-color: #f8f9fa;
    padding: 30px 0;
}

.footer a {
    color: #6c8ae4;
}
